PORT=3000
APP_DOMAIN=achadinhos.digmidia.com
PMA_DOMAIN=phpmyadmin.achadinhos.digmidia.com
PROXY_NETWORK=traefik
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=30mariafn@
DB_NAME=tudopravoce_db
DB_RETRY_ATTEMPTS=15
DB_RETRY_DELAY_MS=3000
ADMIN_USERNAME=MARCOSF
ADMIN_PASSWORD=30MARIAFN@
ADMIN_DISPLAY_NAME=Administrador